.form-block {
  width: 940px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    padding: 0 3%;
    margin-bottom: 48px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
    margin-bottom: 15px;
  }
}

.form-block p {
  width: 776px;
  margin: 0 auto;
  margin-bottom: 65px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $black-text;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    width: 79%;
    margin-bottom: 72px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 0 6.25%;
    margin-bottom: 35px;
    box-sizing: border-box;

    font-size: 14px;
  }
}

.form-block__text-span {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

/*------------общие стили для формы---------------*/
.form-block__fieldset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border: 2px solid $grey-light;

  @media (max-width: $mobile-max-width) {
    border: none;
  }
}

.form-block__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $crimson;

  @media (max-width: $mobile-max-width) {
    line-height: 18px;
  }
}

.form-block__label--name,
.form-block__label--contacts {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $crimson;

  cursor: pointer;
}

.form-block__label--add,
.form-block__label--progress {
  display: inline-block;
  vertical-align: middle;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $black-text;

  cursor: pointer;
}

.form-block__fieldset--name input,
.form-block__fieldset--contacts input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $black-text;

  border: 2px solid $grey-light;
  border-radius: 0;

  cursor: pointer;

  &::placeholder {
    opacity: 0.7;
  }
}

.form-block__list {
  @include reset-style-list;
}
/*--------------------------------------------------*/

.form-block__form {
  display: grid;
  grid-template-columns: 433px 433px;
  column-gap: 74px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
  }
}

//Блок ФИО
.form-block__fieldset--name {
  grid-column: 1/2;
  margin-bottom: 50px;
  padding-top: 21px;

  border: none;

  @media (max-width: $tablet-max-width) {
    grid-column: 1/3;
    padding-top: 0;
    margin-bottom: 53px;
  }

  @media (max-width: $mobile-max-width) {
    order: 1;
    width: 100%;
    padding: 0 6.25%;
    margin-bottom: 42px;
    box-sizing: border-box;
  }
}

.form-block__list--name {
  width: 100%;
}

.form-block__item--name {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-block__item--name:not(:last-child) {
  margin-bottom: 53px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 17px;
  }
}

.form-block__label--name {
  flex-shrink: 0;
  max-width: 77px;
  padding-right: 20px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 5px;
    margin-left: 23px;
    padding-right: 0;
  }
}

.form-block__item--name input {
  flex-grow: 1;
  padding: 14px 15px 15px 17px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 14px 15px 15px 20px;
    box-sizing: border-box;
  }
}

//Блок Приложения
.form-block__fieldset--add {
  grid-column: 2/3;
  margin-bottom: 50px;

  @media (max-width: $tablet-max-width) {
    grid-column: 1/3;
    padding-top: 0;
    margin-bottom: 53px;
  }

  @media (max-width: $mobile-max-width) {
    order: 4;
    margin-bottom: 38px;
  }
}

.form-block__legend--add {
  width: 318px;
  padding: 0 25px;

  text-align: center;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 38px 18.21% 40px 18.21%;
    box-sizing: border-box;

    background-color: $grey-light;
  }
}

.form-block__list--add {
  width: 100%;
  padding: 44px 74px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 42px 62px 58px 62px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 0 6.25% 45px 6.25%;
    box-sizing: border-box;

    background-color: $grey-light;
  }
}


.form-block__item--add {
  width: 100%;
}

.form-block__item--add:not(:last-child) {
  margin-bottom: 45px;
}

.form-block__label--add {
  position: relative;

  padding-left: 58px;

  @media (max-width: $mobile-max-width) {
    padding-left: 70px;
  }
}

input + .form-block__label--add::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translateY(-50%);

  width: 37px;
  height: 37px;

  border: 2px solid $grey-light;
  border-radius: 50%;

  background-color: $white;

  @media (max-width: $mobile-max-width) {
    left: 0;
  }
}

input:checked + .form-block__label--add::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  width: 15px;
  height: 15px;

  background-color: $crimson;
  border-radius: 50%;

  @media (max-width: $mobile-max-width) {
    left: 13px;
  }
}

//Блок Контакты
.form-block__fieldset--contacts {
  grid-column: 1/3;
  margin-bottom: 50px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-max-width) {
    order: 3;
    width: 100%;
    margin-bottom: 42px;
    padding: 0 6.25%;
    box-sizing: border-box;
  }
}

.form-block__legend--contacts {
  width: 198px;
  padding: 0 31px;

  text-align: center;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.form-block__list--contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 28px 60px 13px 60px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding: 29px 58px 27px 58px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
  }
}

.form-block__item--contacts {
  display: flex;
  flex-direction: column;
  width: 371px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}

.form-block__item--contacts:not(:last-child) {
  @media (max-width: $tablet-max-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 17px;
  }
}


.form-block__wrapper-input {
  position: relative;

  flex-grow: 1;

  @media (max-width: $mobile-max-width) {
    order: 2;
  }
}

.form-block__wrapper-input::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 59px;
  height: 63px;

  background-color: $grey-light;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.form-block__wrapper-input--phone::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  width: 20px;
  height: 19px;

  background-image: url("../img/back-icon-phone.svg");
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.form-block__wrapper-input--email::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  width: 18px;
  height: 13px;

  background-image: url("../img/back-icon-mail.svg");
  background-repeat: no-repeat;

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}


.form-block__wrapper-input input {
  width: 100%;
  padding: 14px 70px 15px 17px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 14px 70px 15px 20px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 14px 20px 15px 20px;
  }
}

.form-block__label--contacts {
  max-width: 129px;
  padding-top: 11px;
  margin-left: 17px;

  @media (max-width: $tablet-max-width) {
    padding-top: 10px;
    margin-left: 18px;
  }

  @media (max-width: $mobile-max-width) {
    margin-left: 24px;
    margin-bottom: 5px;
    padding-top: 0;
  }
}

//Блок Достижения
.form-block__fieldset--progress {
  grid-column: 1/3;
  margin-bottom: 52px;

  @media (max-width: $mobile-max-width) {
    order: 2;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}

.form-block__legend--progress {
  width: 374px;
  padding: 0 31px;

  text-align: center;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 38px 15.94% 40px 15.94%;
    box-sizing: border-box;

    background-color: $grey-light;
  }
}

.form-block__list--progress {
  width: 100%;
  padding: 38px 3px 10px 58px;
  box-sizing: border-box;

  column-count: 3;
  column-gap: 38px;

  @media (max-width: $tablet-max-width) {
    padding: 38px 62px 4px 60px;

    column-count: 1;
    column-gap: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 0 6.25%;
    box-sizing: border-box;

    background-color: $grey-light;
  }
}


.form-block__item--progress {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 46px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 45px;
  }
}

.form-block__label--progress {
  position: relative;

  padding-left: 57px;

  line-height: 37px;
}

input + .form-block__label--progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;

  background-color: $white;
  border: 2px solid $grey-light;
}

input:checked + .form-block__label--progress::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);

  width: 22px;
  height: 16px;

  background-image: url("../img/back-icon-tick.svg");
  background-repeat: no-repeat;
}

//Блок Эмоции
.form-block__fieldset--feeling {
  grid-column: 1/3;
  padding: 27px 0  43px 0;
  margin-bottom: 65px;

  @media (max-width: $tablet-max-width) {
    padding: 32px 0  51px 0;
    margin-bottom: 67px;
  }

  @media (max-width: $mobile-max-width) {
    order: 5;
    width: 100%;
    margin-bottom: 48px;
    padding: 0 6.25%;
    box-sizing: border-box;
  }
}

.form-block__legend--feeling {
  width: 184px;
  padding: 0 38px;

  text-align: center;

  @media (max-width: $mobile-max-width) {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 17px;
  }
}


.form-block__fieldset--feeling textarea {
  display: block;
  width: 816px;
  min-height: 128px;
  margin: 0 auto;
  padding: 13px 20px;
  box-sizing: border-box;

  border: 2px solid $grey-light;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $black-text;

  cursor: pointer;
  resize: none;

  &::placeholder {
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    width: 80.6%;
    min-height: 192px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    min-height: 201px;
  }
}

//Блок с кнопкой
.form-block__wrapper-button {
  grid-column: 1/2;

  @media (max-width: $mobile-max-width) {
    order: 6;
    width: 100%;
    padding: 0 6.25%;
    margin-bottom: 36px;
    box-sizing: border-box;
  }
}

.form-block__button {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  padding: 14px;
  box-sizing: border-box;

  border: 2px solid  $green;
  border-radius: 1px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  background-color: $green;
  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

//Блок с замечанием
.form-block__notice {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: end;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $black-text;


  @media (max-width: $mobile-max-width) {
    order: 7;
    justify-content: center;
    width: 100%;
    padding: 0 6.25%;
    box-sizing: border-box;
  }
}

.form-block__notice span:first-child {
  padding-right: 3px;

  color: $crimson;
}


.form-block__notice span:last-child {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

//СТАЙЛГАЙД
//hover
.form-block__fieldset--name input:hover,
.form-block__fieldset--contacts input:hover,
input:hover + .form-block__label--add::before,
input:hover + .form-block__label--progress::before,
.form-block__fieldset--feeling textarea:hover {
  border: 2px solid $black-text;
}

.form-block__button:hover {
  background-color: $green-hover;
  border: 2px solid $green-hover;
}

//focus
.form-block__fieldset--name input:focus,
.form-block__fieldset--contacts input:focus,
input:focus + .form-block__label--add::before,
input:focus + .form-block__label--progress::before,
.form-block__button:focus,
.form-block__fieldset--feeling textarea:focus {
  outline: 2px solid $grey-focus;
  outline-offset: -2px;
}

//active
.form-block__fieldset--name input:active,
.form-block__fieldset--contacts input:active,
input:active + .form-block__label--add::before,
input:active + .form-block__label--progress::before,
.form-block__fieldset--feeling textarea:active {
  outline: none;
  border: 2px solid $crimson;
}

.form-block__button:active {
  outline: none;
  color: rgba($white, 0.3);
}

//disabled
.form-block__button:disabled {
  background-color: $grey-light;
  border: 2px solid $grey-light;
  outline: none;
}
