.main-screen--index {
  position: relative;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 98px;
  padding-bottom: 124px;
  box-sizing: border-box;

  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    padding-top: 94px;
    padding-bottom: 113px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 17px;
    padding-bottom: 0;
  }
}

.main-screen--catalog {
  padding-top: 59px;
  padding-bottom: 89px;

  @media (max-width: $tablet-max-width) {
    padding-top: 66px;
    padding-bottom: 128px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 28px;
    padding-bottom: 77px;
  }
}

.main-screen--catalog h1 {
  width: 358px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  text-align: center;

  color: $white;

  @media (max-width: $mobile-max-width) {
    width: 172px;

    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
  }
}

.main-screen > p {
  position: relative;
  z-index: 10;

  width: 300px;
  margin: 0;
  margin-bottom: 36px;
  padding-left: 10.8%;

  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    padding-left: 3%;
    margin-bottom: 31px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
    margin-bottom: 31px;
    padding-top: 5px;
    padding-left: 0;

    font-size: 24px;
    line-height: 29px;
  }
}

.main-screen__wrapper-img {
  position: absolute;
  top: 98px;
  right: 5px;

  @media (max-width: $tablet-max-width) {
    top: 74px;
    right: -3px;

    width: 100%;
    padding-top: 82.58%;

  }

  @media (max-width: $mobile-max-width) {
    position: relative;
    top: 0;
    right: 0;

    padding-top: 89.4%;
  }
}

.main-screen__wrapper-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-screen__wrapper-link {
  padding-left: 10.8%;

  @media (max-width: $tablet-max-width) {
    padding-left: 3%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 28px 20px 32px 20px;
    box-sizing: border-box;

    background-color: $grey-dark;
  }
}


.main-screen__wrapper-link p {
  position: relative;
  z-index: 10;

  width: 300px;
  margin: 0;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: $white;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    font-size: 14px;
  }
}

.main-screen__link {
  position: relative;
  z-index: 10;

  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-bottom: 68px;
  padding: 17px 16px 15px 16px;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  color: $white;

  border: 3px solid $white;
  border-radius: 29px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 45px;
    padding: 15px 16px 15px 16px;

    font-size: 18px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 32px;
  }
}

.main-screen__list-links-image {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin-bottom: 53px;
  padding-left: 47px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 34px;
    padding-left: 7.2%;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

.main-screen__link-image--apple {
  position: relative;

  display: block;
  width: 47px;
  height: 56px;
}

.main-screen__link-image--apple::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 47px;
  height: 56px;

  background-image: url("../img/back-icon-apple-logo.svg");
  background-repeat: no-repeat;
}

.main-screen__link-image--android {
  position: relative;

  display: block;
  width: 43px;
  height: 47px;
}

.main-screen__link-image--android::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 43px;
  height: 47px;

  background-image: url("../img/back-icon-android-logo.svg");
  background-repeat: no-repeat;
}

.main-screen__link-image--microsoft {
  position: relative;

  display: block;
  width: 44px;
  height: 41px;
}

.main-screen__link-image--microsoft::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 44px;
  height: 41px;

  background-image: url("../img/back-icon-microsoft-logo.svg");
  background-repeat: no-repeat;
}

//СТАЙЛГАЙД
//hover
.main-screen__link:hover {
  color: $crimson;
  background-color: $white;
}

.main-screen__link-image:hover {
  opacity: 0.8;
}

//focus
.main-screen__link:focus,
.main-screen__link-image:focus  {
  outline: 2px solid $grey-focus;
}

//active
.main-screen__link:active {
  outline: none;
  color: rgba($crimson, 0.3);
}

.main-screen__link-image:active {
  opacity: 0.3;
}
