.page-main--catalog h1 {
  width: 358px;
  margin: 0 auto;
  margin-top: -225px;
  margin-bottom: 180px;

  font-weight: 300;
  font-size: 50px;
  line-height: 68px;
  text-align: center;

  color: $white;

  @media (max-width: $tablet-max-width) {
    margin-top: -264px;
    margin-bottom: 219px;
  }

  @media (max-width: $mobile-max-width) {
    width: 172px;
    margin-top: -143px;
    margin-bottom: 121px;

    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
  }
}
