.photo {
  margin-bottom: 4px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 22px;
  }
}

.photo > p {
  width: 572px;
  margin: 0 auto;
  margin-bottom: 89px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $black-text;

  @media (max-width: $tablet-max-width) {
    width: 66.6%;
    margin-bottom: 77px;
  }

  @media (max-width: $mobile-max-width) {
    width: 78%;
    margin-bottom: 50px;

    font-size: 14px;
  }
}

//Карточки с фотографиями
.photo__photos-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 6.25%;
  }
}

.photo__figure {
  margin: 0;
}

.photo__figure--big {
  margin-bottom: 50px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.photo__figure--small {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 54px;

  @media (max-width: $tablet-max-width) {
    width: 48.4%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.photo__image-link {
  position: relative;

  display: block;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    position: relative;

    width: 100%;

    overflow: hidden;
  }
}

.photo__image-link--big {
  @media (max-width: $tablet-max-width) {
    padding-top: 77.1%;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 42.8%;
  }
}

.photo__image-link--small {
  @media (max-width: $tablet-max-width) {
    padding-top: 100%;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 64.3%;
  }
}

.photo__image-link img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: $tablet-max-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.photo__image-link--big p {
  position: absolute;
  top: 54px;
  right: 130px;

  width: 140px;
  margin: 0;
  padding: 7px 18px 5px 18px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $crimson;

  @media (max-width: $tablet-max-width) {
    top: 57px;
    right: 20px;
  }

  @media (max-width: $mobile-max-width) {
    top: 0;
  }
}

//Отзыв
.photo__feedback {
  background-color: $grey;
}

.photo__feedback--big {
  position: relative;

  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 27px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    width: 93.9%;
    padding: 24px 30px;
  }

  @media (max-width: $mobile-max-width) {
    width: 87.5%;
    padding: 18px 10px 19px 17px;
  }
}

.photo__feedback--small {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 155px;
  padding: 24px 27px 23px 27px;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    padding: 23px 30px 24px 30px;
  }

  @media (max-width: $mobile-max-width) {
    flex-grow: 0;
    padding: 18px 31px 18px 17px;
    min-height: auto;
  }
}

.photo__blockquote {
  margin: 0;
}

.photo__blockquote--small {
  flex-grow: 1;

  @media (max-width: $mobile-max-width) {
    flex-grow: 0;
    margin-bottom: 11px;
  }
}

.photo__blockquote--big {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 11px;
  }
}

.photo__blockquote cite {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $black-text;
}

.photo__blockquote time {
  margin-left: 3px;

  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $black-text;
  text-transform: uppercase;
}

.photo__blockquote p {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black-text;
}

//Лайк
.photo__like {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max-width) {
    justify-content: start;
  }
}

.photo__like--big {
  position: absolute;
  top: 24px;
  right: 31px;

  width: 119px;

  @media (max-width: $mobile-max-width) {
    position: static;

    width: 121px;
  }
}

.photo__like--small {
  width: 242px;

  @media (max-width: $mobile-max-width) {
    width: 121px;
  }
}

.photo__like p {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $crimson;

  @media (max-width: $mobile-max-width) {
    order: 2;

    text-align: start;
  }
}

.photo__like span {
  margin-left: 3px;
}

.photo__button-like {
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    order: 1;
    margin-right: 18px;
  }
}

.photo__button-like svg {
  width: 13px;
  height: 12px;

  fill: $crimson;
}

//СТАЙЛГАЙД
//hover
.photo__button-like:hover,
.photo__image-link:hover {
  opacity: 0.8;
}


//focus
.photo__button-like:focus,
.photo__image-link:focus {
  outline: 2px solid $grey-focus;
}

//active
.photo__button-like:active,
.photo__image-link:active {
  outline: none;
  opacity: 0.3;
}
