.user-post {
  margin-bottom: 28px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 0;
  }
}

.user-post p {
  width: 422px;
  margin: 0 auto;
  margin-bottom: 67px;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $black-text;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-max-width) {
    width: 87.5%;
    margin: 0 auto;
    margin-bottom: 43px;

    font-size: 14px;
  }
}

.user-post__form {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 57px 60px 57px 80px;
  box-sizing: border-box;

  background-color: $grey;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    padding: 57px 20px 54px 20px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    padding: 20px 0 41px 0;
  }
}

//вставка фото
.user-post__upload {
  position: relative;
  display: flex;
  width: 300px;

  @media (max-width: $tablet-max-width) {
    width: 48.4%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 42px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.user-post__wrapper-image {
  width: 100%;
}

.user-post__wrapper-image img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.user-post__field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (max-width: $mobile-max-width) {
    left: 20px;
    right: 20px;
  }
}

.user-post__field input {
  display: block;

  width: 100%;
  height: 100%;

  opacity: 0;

  cursor: pointer;
}

//Настройки
.user-post__settings {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  margin-top: -16px;

  @media (max-width: $tablet-max-width) {
    width: 44.4%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-top: 0;
  }
}

//кнопки настроек
.user-post__list-buttons-settings {
  @include reset-style-list;

  display: flex;
  flex-direction: column;
  width: 50px;

  @media (max-width: $tablet-max-width) {
    width: 10.2%;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 60.6%;
    margin: 0 auto;
    padding-right: 12px;
  }
}

.user-post__item-button-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;

  @media (max-width: $mobile-max-width) {
    height: auto;
  }
}

.user-post__item-button-setting:not(:last-child) {
  border-bottom: 1px solid rgba($black-text, 0.1);

  @media (max-width: $mobile-max-width) {
    border-bottom: none;
  }
}

.user-post__item-button-setting:last-child {
  @media (max-width: $tablet-max-width) {
    border-bottom: 1px solid rgba($black-text, 0.1);
  }

  @media (max-width: $mobile-max-width) {
    border-bottom: none;
  }
}

.user-post__button-setting {
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.user-post__button-setting--active,
.user-post__button-setting--nojs {
  cursor: default;
}

.user-post__button-setting svg {
  fill: rgba($black-text, 0.3);
}

.user-post__button-setting--active svg {
  fill: $crimson;
}

.user-post__button-setting--nojs svg {
  fill: $crimson;
}

.user-post__button-setting--clip svg {
  width: 44px;
  height: 44px;

  @media (max-width: $tablet-max-width) {
    width: 22px;
    height: 22px;
  }

  @media (max-width: $mobile-max-width) {
    width: 44px;
    height: 44px;
  }
}

.user-post__button-setting--fill svg {
  width: 48px;
  height: 43px;

  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 22px;
  }

  @media (max-width: $mobile-max-width) {
    width: 48px;
    height: 43px;
  }
}

.user-post__button-setting--contrast svg {
  width: 32px;
  height: 32px;

  @media (max-width: $tablet-max-width) {
    width: 16px;
    height: 16px;
  }


  @media (max-width: $mobile-max-width) {
    width: 32px;
    height: 32px;
  }
}

//бегунки
.user-post__list-settings {
  @include reset-style-list;

  display: flex;
  flex-direction: column;
  width: 360px;

  text-align: center;

  @media (max-width: $tablet-max-width) {
    width: 89.8%;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.user-post__item-setting {
  display: none;
}

.user-post__item-setting--active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  padding-left: 10px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-left: 0;
  }
}

.user-post__item-setting--nojs {
  display: flex;
}

.user-post__item-setting:not(:last-child) {
  border-bottom: 1px solid rgba($black-text, 0.1);
}

.user-post__item-setting:last-child {
  @media (max-width: $tablet-max-width) {
    border-bottom: 1px solid rgba($black-text, 0.1);
  }
}

.user-post__item-setting input {
  appearance: none;

  width: 288px;
  height: 2px;

  background-color: $black-text;

  @media (max-width: $tablet-max-width) {
    width: 83.8%;
  }

  @media (max-width: $mobile-max-width) {
    width: 75%;
    margin: 0 auto;
  }
}

.user-post__item-setting input::-webkit-slider-thumb {
  appearance: none;

  width: 14px;
  height: 14px;
  box-sizing: border-box;

  border: 2px solid $crimson;
  border-radius: 50%;
  background-color: $white;

  cursor: pointer;
}

.user-post__item-setting input::-moz-range-thumb {
  width: 14px;
  height: 14px;
  box-sizing: border-box;

  border: 2px solid $crimson;
  border-radius: 50%;
  background-color: $white;

  cursor: pointer;
}

//кнопки
.user-post__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  margin-top: 142px;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    justify-content: flex-end;

    width: 94.5%;
    margin: 0 auto;
    margin-top: 67px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-max-width) {
    width: 87.5%;
    margin-top: 0;
    padding-right: 0;
  }
}

.user-post__button {
  display: inline-block;
  vertical-align: middle;
  width: 183px;
  padding: 15px;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border-radius: 30px;

  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}

.user-post__button--post {
  color: $crimson;

  border: 3px solid $crimson;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 13px;
  }
}

.user-post__button--reset {
  color: rgba($black-text, 0.1);
  border: 3px solid rgba($black-text, 0.1);
}

//СТАЙЛГАЙД
//hover
.user-post__button--post:hover {
  color: $white;
  background-color: $crimson;
}

.user-post__button--reset:hover {
  color: rgba($black-text, 0.3);
  border: 3px solid rgba($black-text, 0.3);
}

.user-post__item-setting input:hover::-webkit-slider-thumb,
.user-post__item-setting input:hover::-moz-range-thumb {
  border: 2px solid rgba($crimson, 0.8);
}

.user-post__button-setting:hover svg {
  fill: rgba($black-text, 0.5);
}

.user-post__button-setting--nojs:hover svg,
.user-post__button-setting--active:hover svg {
  fill: $crimson;
}

.user-post__upload:hover img {
  box-shadow: 0 0 5px 2px $black;
}

//focus
.user-post__button:focus,
.user-post__item-setting input:focus,
.user-post__upload input:focus {
  outline: 2px solid $grey-focus;
}

.user-post__button-setting:focus {
  outline: 2px solid $grey-focus;
}

.user-post__button-setting--active:focus,
.user-post__button-setting--nojs:focus {
  outline: none;
}

//active
.user-post__button--post:active {
  outline: none;
  opacity: 0.3;
}

.user-post__button--reset:active {
  outline: none;
  color: rgba($white, 0.3);
  background-color: rgba($black-text, 0.3);
  border: 3px solid rgba($black-text, 0);
}

.user-post__item-setting input:active::-webkit-slider-thumb,
.user-post__item-setting input:active::-moz-range-thumb {
  background-color: $crimson;
  outline: none;
}

.user-post__button-setting:not(.user-post__button-setting--active):active,
.user-post__item-setting input:active {
  outline: none;
}
