//Colors
$white: #ffffff;
$black:#000000;
$black-text:#283645;
$crimson:#d22856;
$crimson-dark:#6e0320;
$grey: #f2f2f2;
$grey-focus: #8da399;
// Viewports
$min-width: 320px;
$mobile-max-width: 659px;
$tablet-max-width: 1023px;
