//Colors
$white: #ffffff;
$black:#000000;
$black-text:#283645;
$crimson:#d22856;
$crimson-dark:#6e0320;
$grey: #f2f2f2;
$grey-dark: #1d2631;
$grey-light: #e5e5e5;
$grey-focus: #8da399;
$green:  #2aab6d;
$green-hover:#1c9b5e;
$red: #ff0000;
// Viewports
$min-width: 320px;
$mobile-max-width: 659px;
$tablet-max-width: 1023px;
